   <!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Météorique</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div id="chart_div"></div>
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Fonction pour dessiner le graphique
      function drawVisualization(data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Date');
        dataTable.addColumn('number', 'Température');
        
        data.results.forEach(entry => {
          var date = new Date(entry.Jour * 1000);
          dataTable.addRow([date.toLocaleDateString(), entry.temp]);
        });

        var options = {
          title: 'Évolution des températures de Paris pour les 16 prochains jours',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }

      // Récupération des données depuis l'API /paris/
      fetch('/paris/')
        .then(response => response.json())
        .then(data => {
          drawVisualization(data);
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données :', error);
          // Gérer l'erreur ici
        });
    }
  </script>
</body>
</html>
